=== Конфигурация ===
{% if zabbix_conf_stat.stat.exists %}
{% set server_line = zabbix_conf_content.stdout_lines | select('match', '^Server=') | list | first | default('(отсутствует)') %}
{% set active_line = zabbix_conf_content.stdout_lines | select('match', '^ServerActive=') | list | first | default('(отсутствует)') %}
{% set expected_line = 'Server=' + (zabbix_server_ip | join(',')) %}
{% set expected_active_line = 'ServerActive=' + (zabbix_server_ip | join(',')) %}
{% set config_ok_server = server_line == expected_line %}
{% set config_ok_active = active_line == expected_active_line %}
{{ '%-25s' | format('Server') }} значение: {{ '%-30s' | format(server_line) }} [{{ 'OK' if config_ok_server else 'FAIL' }}]
{{ '%-25s' | format('ServerActive') }} значение: {{ '%-30s' | format(active_line) }} [{{ 'OK' if config_ok_active else 'FAIL' }}]
{% else %}
FAIL: /etc/zabbix/zabbix_agentd.conf отсутствует
{% endif %}
