############################################################
# СВОДНЫЙ ОТЧЁТ ПО ХОСТУ
# Хост: {{ inventory_hostname }} ({{ ansible_host }})
# Дата сборки: {{ ansible_date_time.iso8601 | default('') }}
# Файлов включено: {{ report_contents.results | length }}
############################################################

{% for result in report_contents.results %}
############################################################
# {{ result.item.path | basename }}
############################################################

{{ result.content | b64decode }}

{% endfor %}
