# Managed by Ansible - Linux_Hardening project
# {{ ansible_managed }}

LogLevel {{ ssh_hardening_expected.LogLevel }}
PermitRootLogin {{ ssh_hardening_expected.PermitRootLogin }}
PubkeyAuthentication {{ ssh_hardening_expected.PubkeyAuthentication }}
AuthorizedKeysFile {{ ssh_hardening_expected.AuthorizedKeysFile }}
PasswordAuthentication {{ ssh_hardening_expected.PasswordAuthentication }}
PermitEmptyPasswords {{ ssh_hardening_expected.PermitEmptyPasswords }}
AllowUsers {{ ([ansible_user] + ssh_hardening_extra_allow_users) | unique | join(' ') }}
KbdInteractiveAuthentication {{ ssh_hardening_expected.KbdInteractiveAuthentication }}
UsePAM {{ ssh_hardening_expected.UsePAM }}
X11Forwarding {{ ssh_hardening_expected.X11Forwarding }}
PrintMotd {{ ssh_hardening_expected.PrintMotd }}
AcceptEnv {{ ssh_hardening_accept_env }}

Subsystem {{ ssh_hardening_sftp_subsystem }}
